*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color:#222;
}
.container{
    width: 90%;
    max-width: 400px;
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /*background:linear-gradient(135deg,#00feba,#5b548a);*/
    background-image: url(../Images/desktop-wallpaper-sony-weather-sony.jpg);

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebffce;
    color: black;
    padding: 10px 25px;
    height: 50px;
    box-sizing: 25px;
    flex:1;
    margin-right: 15px;
    text-align: 15px;
    border-radius: 30px;
}
.search button{
    border: 0;
    background-color:mistyrose;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search button img{
    width: 15px;
}
.whethericon{
    width: 100px;
    margin-top: 30px;

}
.whether h1{
    font-size: 45px;
    font-weight: 500;
}
.whether h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
    margin-top:-5px ;

}
.whether{
    display:none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;

}